
.table::before{
  content: '';
  width: 1.6rem;
  height: 2rem;
  border-top: 2px solid #ffffff2c;
  border-left: 2px solid #ffffff2c;
  margin: auto;

  position: absolute;
  top: -2rem;
  right: -0.3rem;
}

.tooltip{
  display: none;
  transition: linear 1s;
}
.tooltip::after{
  content: '';
  width: .8rem;
  height: .8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -.3rem;
  background-color: #646363;
  rotate: 45deg;
}
.link_active:hover .tooltip{
  display: block;
  transition: linear 1s;
  position: absolute;
  border-radius: 2rem;
  top: 0rem;
  right: -5.3rem;
  background-color: #646363;
  padding: .7rem;
}

