.popup {
  position: relative;
}


#marq {
  position: absolute;
  left: 1.5rem;
  top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  border-radius: .2rem;
  background-color: rgba(192, 192, 192, 0.384);
  font: bold 120%/1.2;
  padding: 1rem;
}

#orig {
  display: inline-block;
  transform: translatex(0);
  animation: marquesina 4s infinite normal linear 1s;
}

@keyframes marquesina {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(-50%);
  }
}